<div class="fixed right-0 top-0 h-full w-28 bg-white shadow-md flex flex-col items-center justify-start py-4 space-y-6 z-10 ">
    <!-- Upload -->
    <a href="/custom-data" class="w-20 h-20 bg-green-200 flex items-center justify-center rounded-lg hover:bg-green-300 transition duration-300">
        <img src="https://static.vecteezy.com/system/resources/previews/015/337/675/original/transparent-upload-icon-free-png.png" alt="Upload Icon" class="w-10 h-10">
    </a>

    <!-- Boxplot -->
    <a href="/custom-data/boxplot" class="w-20 h-20 bg-blue-200 flex items-center justify-center rounded-lg hover:bg-blue-300 transition duration-300">
        <img src="https://cdn-icons-png.flaticon.com/512/4882/4882625.png" alt="Boxplot Icon" class="w-10 h-10">
    </a>

    <!-- Scatterplot -->
    <a href="/custom-data/scatterplot" class="w-20 h-20 bg-yellow-200 flex items-center justify-center rounded-lg hover:bg-yellow-300 transition duration-300">
        <img src="https://cdn-icons-png.flaticon.com/512/7665/7665284.png" alt="Scatterplot Icon" class="w-10 h-10">
    </a>

    <!-- Multiline Chart -->
    <a href="/custom-data/multilinechart" class="w-20 h-20 bg-purple-200 flex items-center justify-center rounded-lg hover:bg-purple-300 transition duration-300">
        <img src="https://cdn-icons-png.freepik.com/512/1270/1270360.png" alt="Multiline Chart Icon" class="w-10 h-10">
    </a>

    <!-- Histogram Chart -->
    <a href="/custom-data/histogram" class="w-20 h-20 bg-red-200 flex items-center justify-center rounded-lg hover:bg-red-300 transition duration-300">
        <img src="https://cdn-icons-png.flaticon.com/512/8191/8191345.png" alt="Histogram Icon" class="w-10 h-10">
    </a>
   
    
</div>
