<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>custom data</title>
  </head>
  <body>
    <div class="w-64 h-screen bg-white shadow-md fixed top-0 left-0">
      <%- include('layouts/sidebar') %>
    </div>
    <div class="flex-1 ml-64 p-10 overflow-y-auto">
      <%- include('partials/sidebar') %>
    </div>
  </body>
</html>
